@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura';
  src: url('/public/fonts/Futura.ttf') format('ttf'); 
  font-weight: bolder;
  font-style: normal;
}

h1 {
  font-family: 'Futura', 'arial', 'sans';
  font-weight: 600;
}

body {
  background-color: #131313;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

li {
  width:  85%;
  list-style: none;
  font-size: 17px;
  padding: 8px 8px 8px 50px;
  user-select: none;
  cursor: pointer;
  color: #b8b8b8;
  position: relative;
}

li::before {
  content: '';
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-image: url("../images/unchecked.png");
  background-size: cover;
  background-position: center;
  top: 6px;
  left: 6px;
}

li span {
  content: '';
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-image: url("../images/cross.png");
  background-size: cover;
  background-position: center;
  top: 6px;
  right: -40px;
}

li.checked {
  color: #7c7c7c;
  text-decoration: line-through;
}

li.checked::before {
  background-image: url("../images/checked.png");
}